*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    text-align: center;
    padding: 1.2rem;
    width: 100%;
}

h1{
    margin-bottom: 20px;
    color: #333;
    font-size: 2rem;
}

.board{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.list{
    background-color: #e3e4e8;
    padding: 1rem;
    border-radius: 8px;
    width: 30%;
    min-height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.2s;
}

.list h2{
    color: #555;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.card{
    background-color: white;
    padding: 1rem;
    color: #333;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: grab;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    /* transition: transform 0.2s, box-shadow 0.2s; */
    transition: 0.2s;
}

.card:active{
    cursor: grabbing;
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.list.over{
    background-color: #d1d3d8;
}

@media (max-width: 900px){
    .board{
        flex-direction: column;
        align-items: center;
    }

    .list{
        width: 80%;
        margin-bottom: 20px;
    }
}